name: CICD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  golint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Revive
        uses: morphy2k/revive-action@v2

  golangci-lint:
    runs-on: ubuntu-latest

    container:
      image: alwitt/cicd-support:cgoutils

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.2
          args: --timeout 3m0s

  test:
    runs-on: ubuntu-latest

    container:
      image: alwitt/cicd-support:cgoutils

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Test
        env:
          UT_IN_CICD: 'true'
        run: |
          go test --count 1 -v -timeout 600s -short ./...
